.cart-item-title{
    font-size: 13px;
}
.cart-item-image{
    border-left: 2px solid #7e1adb;
    border-right: 2px solid #7e1adb;
}

.delete-button:hover{
    color: red;
    cursor: pointer;
}
.selected-items{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 2px;
    align-items: baseline;
    justify-content: center;
}
