
.card-section{
    height: 450px;
}

.add-cart-button{
    color: blueviolet;
    border: none;
    background: none;
}
.add-cart-button:hover{
    color: green;
}

.price-title{
    position: absolute;
    bottom: 10px;
}

